@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;700&display=swap");


body{
  margin: 0;
  font-family: "Reem Kufi", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f1f1f1;

}

.footer li {
  margin:0.5rem 0.2rem;
}

label {
  margin-bottom: 0.3rem;
  font-size: 1.05rem;
  font-weight: bold;
  color: #112837

}

input, textarea {
  background-color: #f1f1f1;
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin-bottom: 0.8rem;
  color: #383838;
  font-weight: 600;

}

button {
  user-select: none;
}